.aspnet/
.aws
.azcopy/
.azure
.azure-devops/
.bash_history
.bash_logout
.cache/
.CFUserTextEncoding
.config/
.cups/
.docker/
.dotnet/
.DS_Store
.gem/
.gitconfig
.IdentityService/
.kube/
.landscape/
.lesshst
.local/
.mongodb/
.mono/
.motd_shown
.net/
.npm/
.nuget/
.nvm/
.oh-my-zsh/
.parsec/
.profile
.pulumi/
.receitanet/
.redisinsight-v2/
.rfb/
.ServiceHub/
.shell.pre-oh-my-zsh
.skaffold/
.ssh/
.sudo_as_admin_successful
.templateengine/
.vagrant.d/
.viminfo
.vscode/
.vscode-server/
.wget-hsts
.yarnrc
.zcompdump*
.zsh_history
.zsh_sessions/
.zshrc.backup
Applications (Parallels)/
Applications/
bin/
Desktop/
Documents/
Downloads/
download/
lib/
Library/
Movies/
Music/
OneDrive
Parallels/
Pictures/
Public/
.Trash/
azure-pipelines-task-lib/
getting-started/
ws/
