.aspnet/
.aws
.azcopy/
.azure
.azure-devops/
.bash_history
.bash_logout
.cache/
.cagent/
.codex/
.CFUserTextEncoding
.config/
.cups/
.cursor
.cursor-server
.docker/
.gsutil/
.dotnet/
.DS_Store
.gem/
.gitconfig
.IdentityService/
.kube/
.landscape/
.lesshst
.local/
.mongodb/
.mono/
.motd_shown
.net/
.npm/
.nuget/
.nvm/
.oh-my-zsh/
.parsec/
.profile
.pulumi/
.receitanet/
.redisinsight-v2/
.rfb/
.ServiceHub/
.shell.pre-oh-my-zsh
.skaffold/
.ssh/
.storybook/
.terraform.d/
.sudo_as_admin_successful
.templateengine/
.vagrant.d/
.viminfo
.vscode/
.vscode-server/
.vscode-remote-containers
.wget-hsts
.yarnrc
.zcompdump*
.zsh_history
.zsh_sessions/
.zshrc.backup
Applications (Parallels)/
Applications/
bin/
Desktop/
Documents/
Downloads/
download/
lib/
Library/
Movies/
Music/
nltk_data/
OneDrive
Parallels/
Pictures/
Public/
.Trash/
azure-pipelines-task-lib/
getting-started/
ws/
.boto
