.aws
.azure
.azure-devops/
.bash_history
.bash_logout
.cache/
.config/
.docker/
.dotnet/
.gitconfig
.landscape/
.local/
.motd_shown
.npm/
.nuget/
.nvm/
.oh-my-zsh/
.profile
.pulumi/
.shell.pre-oh-my-zsh
.ssh/
.sudo_as_admin_successful
.viminfo
.vscode-server/
.wget-hsts
.zcompdump
.zcompdump-LT-HLCZKN3-5.8
.zcompdump-LT-HLCZKN3-5.8.zwc
.zsh_history
.zshrc.backup
bin/
download/
lib/
ws/
